.sceneImage {
    width: 450px;
    height: auto;
}

.option {
    color:rgb(0, 0, 255);
    cursor: pointer;
    font-size: 15px;
}

body {
    font-size: 14px;
}

h1 {
    color: purple;
    font-family: cursive;
    font-size: 300%;
    background-color: rgba(177, 215, 255, 0.358);
}

div {
    color: rgba(0, 0, 255, 0.577);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(255, 127, 80, 0.228);
}

button {
    color: red;
}
/* .house {
    background: rgb(255, 136, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.kitchen {
    background: rgba(255, 255, 0, 0.411);
    width: 100px;
    height: 50px;
}

.living-room {
    background: rgba(95, 200, 95, 0.698);
    width: 200px;
    height: 100px;
}

.office {
    background: rgba(206, 1, 206, 0.438);
    width: 150px;
    height: 175px;  
}

.room {
    float: left;
} */